<div class="container">
  <div class="col">
    <h1 style="text-align: center;">{{title}}</h1>
    <br>

    <form action="" class="form-group row">
      <div class="form-group col-md-3">
        <label for="name">Name: </label>
        <input type="text" name="name" id="name" placeholder="Name" class="form-control" [(ngModel)]="cName">

      </div>
      <div class="form-group col-md-3">
        <label for="lastname">Lastname: </label>
        <input type="text" name="lastname" id="lastname" placeholder="Lastname" class="form-control" [(ngModel)]="cLastname">
        
      </div>
      <div class="form-group col-md-3">
        <label for="position">Position: </label>
        <input type="text" name="position" id="position" placeholder="Position" class="form-control" [(ngModel)]="cPosition">
        
      </div>
      <div class="form-group col-md-3">
        <label for="salary">Salary: </label>
        <input type="number" name="salary" id="salary" placeholder="Salary" class="form-control" [(ngModel)]="cSalary">
        
      </div>
    </form>

  </div>

  <br>
  <div class="col">
    <button type="submit" class="btn btn-primary" (click)="AddingEmployee()">Add Employee</button>

  </div>

</div>


<br>
<app-employee-son></app-employee-son>
<div class="container">
  <div class="row">
    <div class="col">
      <div *ngFor="let employee of employees; let i = index">

       {{i+1}}: {{employee.name}} {{employee.lastname}} {{employee.position}} {{employee.salary}}

      </div>

    </div>
  </div>
</div>

